<h1> Incredibly handsome criminal genius and master of all villainy!  </h1>
<div class="profile">
  <h1> Scott Paylor </h1>

<h2> I'm shaking in my custom baby seal leather boots! </h2>

<h3> And I love you, random citizen! </h3>

<a href="https://www.linkedin.com/in/sgpaylor"> My LinkedIn! </a>

<p> Over here, old friend! In case you've noticed, you've fallen right into my trap! 
You can't trap justice! It's an idea, a BELIEF! 
Even the most heartfelt belief can get corroded over time! 
Justice is a non-corrosive metal! 
But metals can be melted, by the heat of revanchge! 
It's REVENGE, and it's best served cold! 
But it can be easily reheated, in the microwave of evil! 
Well, I think your warranty's about to expire! 
Maybe I got an extended warranty! 
Warranties are invalid, if used beyond their intended purpose! 
  Girls, girls, you're both pretty! Can I go home now? </p>

</div>

<img src="http://images.popmatters.com/news_art/m/megamind-splsh.jpg" />